li{
    display: inline;
    list-style: none;
    padding: 3px;
}

.navi-active{

}

/*ページネーション*/
.pagination-container{
    position: absolute;
    top: 1700px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.content{
    height: 1200px;
    width: 80%;
    font-size: 40px;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;  
    z-index: 2;   
  }