/* トップページのイベント詳細の参加ボタンを
    押したときに出るエリアのcss */
.box .hidden_box{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;


    position: fixed;
    z-index: 3;
    left: 34%;
    top: 30%;
    width: 33%;
    border: 3px solid black;
    border-radius: 5%;
    background-color: #eee;

}

.box .hidden_box h3{
    text-align: center;
    font-size: 110%;
}

#outhidden{
    text-align: left;
    width: 22px;
    height: 20px;
    margin-left: 92%;
}

/* 各ページの検索エリアのcss */
.serach_box_area{
    text-align: right;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
}

.search_box{
    width: 300px;
    height: 40px;
    border: double;
    font-size: 50%;
   
}

.search_button{
    height: 45px;
    width: 100px;
    font-size: 50%;
}

.serach_box_area select{
    margin-right: 10px;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    border-radius: 10%; 
}

.serach_box_area .sort{
    width: 150px;
}