.btn1 {
    font-size: 33px;
    width: 150px;
    padding: 30px;
    margin: 0 auto;
    
}

.btnright{
    right: 63px;
}



/* チェックボックス02 jititai/eventlist.jsp*/
input[type=checkbox] {
    display: none;
}

.checkbox02, .event_join{
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: 100%;
}
.checkbox02::before, .event_join::before{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox02::after, .event_join::after{
    border-right: 6px solid #00cccc;
    border-bottom: 3px solid #00cccc;
    content: '';
    display: block;
    height: 20px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 9px;
}
input[type=checkbox]:checked + .checkbox02::before,
 :checked + .event_join::before{
    border-color: #666;
}
input[type=checkbox]:checked + .checkbox02::after,
:checked + .event_join::after {
    opacity: 1;
}

.checkbox02::before{
    left: 20%;
}
.checkbox02::after{
    left: 20%;
}
.event_join::before{
    right: 20%;
}
.event_join::after{
    right: 19.9%;
}

.eventlist_title_left{
    float: left;
    margin-left: 15%;
}

.eventlist_title_right{
    float: right;
    margin-right: 15%;
}