body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

h2 {
font-size: 80px;
  margin-top: 30px;
  position: relative;
  padding: 1rem .5rem;
  text-align: center;
  z-index: 2;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 36%;
  width: 30%;
  height: 6px;
  text-align: center;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

/*もっと見る*/
.link {
  font-size: 80%;
}
.right{
  text-align: right;
}

.content{
height: auto;
width: 80%;
font-size: 40px;
background-color: #eee;
text-align: center;
margin: auto;
margin-bottom: 3%;
padding: 35px;  
z-index: 2;   
}

.content .alltitle{
  display: inline;
  border-bottom: 5px double #5a4498;
}

.list{
height: auto;
width: 80%;
font-size: 40px;
background-color: #eee;
text-align: center;
margin: auto auto auto;  
margin-top: 130px;
z-index: 2;  
}

#login, #new, #change, #item, #mess,#join,#limit{
text-align: center;
color: red;
font-size: 40px;
font-style: oblique;
}

#mess{
display: block;
}

#imgview{
font-size: small;
}