body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:100px;
  font-size:1.0em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width:250px;
}

button:hover{
background:#fff;
color:#1AAB8A;
}

button:before,button:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width: 0;
background: #1AAB8A;
transition:400ms ease all;
}

button:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}

button:hover:before,button:hover:after{
width:100%;
transition:800ms ease all;
}

.btn1 {
display: block;
font-size: 33px;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
/* margin-topをautoにすることで、自動的に高さを調節してもらえる */
margin-top: 3%;
text-align: center;
padding: 0;
text-align: center;
}
.btn2 {
display: block;
font-size: 33px;
margin-bottom: 0;
margin-left: auto;
margin-right: 8%;
/* margin-topをautoにすることで、自動的に高さを調節してもらえる */
margin-top: 1%;
padding: 0;
text-align: center;
}
textarea.tel{
font-size:2.5em;
}
.textarea {

  position: relative;
  
  padding: 1rem .5rem;
  text-align: center;
  padding:0.6em;
}
textarea::placeholder {
  font-size: 1.2em;
  font-style: italic;
}
h2 {
  height: 20px;
  font-size: 70px;
  position: relative;
  text-align: center;
  padding:1.1em;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 36%;
  width: 30%;
  height: 6px;
  text-align: center;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

