body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  
  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width:250px;
  }
  
  button:hover{
  background:#fff;
  color:#1AAB8A;
  }
  
  button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
  }
  
  button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  }
  
  button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
  }
  
.btn2 {
  
  font-size: 33px;
  position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;  
}
h2 {
    font-size: 70px;
    position: relative;
    
    text-align: center;
    
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30%;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
.content{
  height: 100%;
  width: 70%;
  font-size: 40px;
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin: auto auto auto;  
  margin-bottom: 100px;
  
    
}
