button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
  }
  
  button:hover{
  background:#fff;
  color:#1AAB8A;
  }
  
  button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
  }
  
  button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  }
  
  button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
  }

.menubtn1 {
    font-size: 230%;
    
    
    position:absolute;
      right:440px;
        top:5px;
      width: 150px;
      padding: 30px;
      z-index: 2;
  }
  /*ログアウト*/
  .menubtn2 {
    font-size: 230%;
    position:absolute;
  right:120px;
  top:5px;
    width: 150px;
    padding: 30px;
    z-index: 2;
  }

  