
.btn1 {
    font-size: 33px;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    padding:0.6em;
}
.btn2 {
  font-size: 33px;
    position:absolute;
	right:10px;
	bottom:5px;
    width: 150px;
    padding: 30px;
}
.textarea {
  position: relative;
  padding: 8rem .5rem;
  text-align: center;
  padding:0.6em;
}
.content{
    font-size: 35px;
    flex: 1;
    text-align: left;
    width: 1100px; 
}

textarea{
  font-size: 25pt;
}