body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }

  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
    float: right;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*アカウント管理*/
.btn2 {
  font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px 30px 30px auto;
    
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
}
.btn3 {
  font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px auto 30px 30px;
    
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  
}
.btn4 {
  font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px auto 30px 350px;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  
}


.link {
  font-size: 80%;
    position:absolute;
      right:100px;
      top:820px;
    width: 200px;
    padding: 100px;
    z-index: 2;
}
.link1 {
  font-size: 80%;
    position:absolute;
      right:100px;
      top: 1470px;
    width: 200px;
    padding: 100px;
    z-index: 2;
}
.link2 {
  font-size: 80%;
  position:absolute;
    right:100px;
    top:2120px;
  width: 200px;
  padding: 100px;
  z-index: 2;
}
.link3 {
  font-size: 80%;
  position:absolute;
    right:100px;
    top:2770px;
  width: 200px;
  padding: 100px;
  z-index: 2;
}
h2 {
  font-size: 80px;
    margin-top: 30px;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30%;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
  .content{
    height: auto;
    width: 80%;
    font-size: 40px;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;  
    margin-bottom: 150px;
    z-index: 2;   
  }
  .content1{
    height: auto;
    width: 80%;
    font-size: 40px;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;
    margin-bottom: 150px;
    z-index: 2;
  }
  .content2{
    height: auto;
    width: 80%;
    font-size: 40px;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;
    margin-bottom: 150px;
    z-index: 2;
  }
  .content3{
    height: auto;
    width: 80%;
    font-size: 40px;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;
    margin-bottom: 150px;
    z-index: 2;
  }

  /*ドロップダウン*/

  .container {
    font-size: 230%;
    /* /*margin 上　右　下　左 */
    top:18px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 330px;
    margin-bottom: auto;
    position: relative;
    padding: 3rem .5rem;
    text-align: center;
    z-index: 2;
  }
  
  .container > .dropdown {
    
    margin: 0 20px;
    vertical-align: top;
  }
  
  
  .dropdown {
    display: inline-block;
    position: relative;
    
    overflow: hidden;
    
    height: 100px;
    width: 292px;
    cursor:pointer;
    transition:800ms ease all;
    background: #1AAB8A;
    color:#fff;
    
  }
  .dropdown2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    right: 550px;
    height: 100px;
    width: 292px;
    cursor:pointer;
    transition:800ms ease all;
    background: #1AAB8A;
    color:#fff;
    
  }
  .dropdown:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .dropdown2:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .dropdown:before, .dropdown:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .dropdown2:before, .dropdown2:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  
  .dropdown-select {
    text-align: center;
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
    float: right;
  }
  .dropdown-select2 {
    text-align: center;
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
    float: right;
  }

 .dropdown-select:hover {
  background:#fff;
  color:#1AAB8A;
 }
 .dropdown-select2:hover {
  background:#fff;
  color:#1AAB8A;
 }
  .dropdown-select:before,.dropdown-select:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .dropdown-select2:before,.dropdown-select2:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .dropdown::after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .dropdown2::after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .dropdown:hover:before,.dropdown:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .dropdown2:hover:before,.dropdown2:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  /*管理の下の奴ら*/
  .dropdown-select:focus {
   
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .dropdown-select2:focus {
   
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-select > option {
    margin: 3px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  .dropdown-select2 > option {
    margin: 3px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown {
    z-index: 1;
  }
  .lt-ie9 .dropdown2 {
    z-index: 1;
  }
  
  .lt-ie9 .dropdown-select {
    z-index: -1;
  }
  .lt-ie9 .dropdown-select2 {
    z-index: -1;
  }
  
  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  .lt-ie9 .dropdown-select2:focus {
    z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
    .dropdown-select2 {
      padding-left: 6px;
    }
  }