body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width:200px;
  }
  
  button:hover{
  background:#fff;
  color:#1AAB8A;
  }
  
  button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
  }
  
  button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  }
  
  button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
  }
.btn1 {
    font-size: 33px;
    position:absolute;
	left:300px;
	bottom:-70px;
    width: 150px;
    padding: 30px;
}
.btn2 {
    font-size: 33px;
    position:absolute;
	right:300px;
	bottom:-70px;
    width: 150px;
    padding: 30px;
}
h2 {
    font-size: 70px;

    position: relative;

    padding: 1rem .6rem;

    text-align: center;

    padding:0.6em;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 660px;
    width: 580px;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
.content{
    font-size: 35px;

    flex: 1;

    background-color: #eee;

    text-align: left;

    padding-left: 2%;

    width: 1100px; margin: 0 410px;

    margin-top: 10px;

    margin-bottom: 150px;
}