button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
  }
  
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  /*ログアウト*/
  .menubtn1 {
  
    font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px 2% 30px auto;
    
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  
  }
  /*景品登録*/
  .menubtn2 {
    font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px auto 30px 2%;
    
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  }
  /*交換履歴*/
  .menubtn3 {
    font-size: 230%;
    /* /*margin 上　右　下　左 */
    margin: -162px auto 30px 23%;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    z-index: 2;
  }

   
  /*ドロップダウン*/
  .container {
    font-size: 230%;
    /* /*margin 上　右　下　左 */
    top:2px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 22%;
    /* margin-bottom: auto; */
    position: relative;
    padding: 3rem .5rem;
    text-align: center;
    z-index: 2;
  }
  
  .container > .dropdown {
    
    margin: 0 20px;
    vertical-align: top;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
    
    overflow: hidden;
    
    height: 100px;
    width: 292px;
    cursor:pointer;
    transition:800ms ease all;
    background: #1AAB8A;
    color:#fff;
    
  }
  .dropdown:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .dropdown:before, .dropdown:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
    
  }
  
  .dropdown-select {
    text-align: center;
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:100px;
    font-size:1.0em;
    padding:80 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 292px;
    float: right;
  }
 .dropdown-select:hover {
  background:#fff;
  color:#1AAB8A;
 }
  .dropdown-select:before,.dropdown-select:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .dropdown::after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .dropdown:hover:before,.dropdown:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  /*管理の下の奴ら*/
  .dropdown-select:focus {
   
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-select > option {
    margin: 3px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown {
    z-index: 1;
  }
  
  .lt-ie9 .dropdown-select {
    z-index: -1;
  }
  
  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }