body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  
  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.0em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width:200px;
  }
  
  button:hover{
  background:#fff;
  color:#1AAB8A;
  }
  
  button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
  }
  
  button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  }
  
  button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
  }
  
  .btn1 {
    font-size: 20px;
    margin: 0 auto;
    bottom: 280px; /*基準の位置を画面の一番下に指定する */
    right: 740px;/* 基準の位置を画面の一番右に指定する */
    width: 300px; /*幅を指定する */
  
  }
.btn2 {
  font-size: 20px;
    position:absolute;
	right:200px;
	bottom:50px;
    width: 150px;
    padding: 30px;
}
textarea.tel{
  font-size:2.5em;
}
.textarea {
  
    position: relative;
    
    padding: 1rem .5rem;
    text-align: center;
    padding:0.6em;
}
textarea::placeholder {
    font-size: 1.2em;
    font-style: italic;
  }
h2 {
    font-size: 70px;
    height: 20px;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    padding:1.5em;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 750px;
    width: 580px;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
  
