body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:100px;
  font-size:1.0em;
  padding:80 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  }
  
  button:hover{
  background:#fff;
  color:#1AAB8A;
  }
  
  button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width: 0;
  background: #1AAB8A;
  transition:400ms ease all;
  }
  
  button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  }
  
  button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
  }
.btn1 {
    font-size: 33px;
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
    padding:0.6em;
}
.btn2 {
    position:absolute;
	right:10px;
	bottom:5px;
    width: 150px;
    padding: 30px;
}
  textarea.tel{
    font-size:1.5em;
  }
  .textarea {
    
      position: relative;
      
      padding: 1rem .5rem;
      text-align: center;
      padding:0.6em;
  }
 .content{
    font-size: 35px;

    flex: 1;

    background-color: #eee;

    /* text-align: left; */

    padding-left: 2%;

    width: 1100px;
     /* margin: 0 410px; */

    margin-top: 10px;

    margin-bottom: 10px;
}