body{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

}

/*h2 { 
    font-size: 80px;
    margin-top: 80px;
      position: relative;
      padding: 1rem .5rem;
      text-align: center;
      z-index: 2;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30%;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }*/

.content1{
    height: auto;
    width: 65%; /*変更*/
    font-size: 40px;
    flex: 1;
    background-color: #66FFFF; /*変更*/
    text-align: center;
    margin: auto auto auto;  
    margin-bottom: 150px;
    z-index: 2;
}

.form{
  width: 70%;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:2.5em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover{
  border:2px solid #8BC3A3;
}

.form:focus{
  color: white;
  outline: none;
  border:2px solid #8BC3A3;
}

  .textarea {
    display: block;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: auto;
  /* margin-topをautoにすることで、自動的に高さを調節してもらえる */
  /* margin-top: -7.5%; */
  padding: 0;
  }
  textarea::placeholder {
    font-size: 1.2em;
    font-style: italic;
  }

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:100px;
  font-size:1.0em;
  padding:80 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 200px;
}

button:hover{
background:#fff;
color:#1AAB8A;
}

button:before,button:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width: 0;
background: #1AAB8A;
transition:400ms ease all;
}

button:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}

button:hover:before,button:hover:after{
width:100%;
transition:800ms ease all;
}

.btn1 {
  font-size: 33px;
  display: block;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: 4%;
  /* margin-topをautoにすることで、自動的に高さを調節してもらえる */
  margin-top: -7.5%;
  padding: 0;
  text-align: right;
}

.mess{
  height: 500px;
  overflow: auto;
}

/*LINE風*/
.line-bc {
  padding: 20px 10px;
  max-width: auto;
  margin: 15px auto;
  text-align: right;
  overflow-x: hidden;
}

/*以下、②左側のコメント*/
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 500px;
  border-radius: 12px;
  background: #FFFF;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #FFFF;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says pre {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 50px 0;
}
.mycomment pre {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
}

.mycomment pre:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/*改行*/
pre {
	white-space: pre-wrap ;
  text-align: left;
}