body{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

}


/*h2 { 
    font-size: 80px;
    margin-top: 80px;
      position: relative;
      padding: 1rem .5rem;
      text-align: center;
      z-index: 2;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30%;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }*/

.content1{
    height: auto;
    width: 65%;
    font-size: 40px;
    /*flex: 1;*/
    background-color: #66FFFF;
    text-align: center;
    margin: auto auto auto;  
    margin-bottom: 200px;
    /*z-index: 2;*/
}

.mess{
  height: 500px;
  overflow: auto;
}

.line-bc {
  padding: 20px 10px;
  max-width: auto;
  margin: 15px auto;
  text-align: right;
  overflow-x: hidden;
}

/*以下、②左側のコメント*/
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 500px;
  border-radius: 12px;
  background: #FFFF;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #FFFF;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント
.mycomment {
  margin: 50px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}*/