body{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

}



/*h2 { 
    font-size: 80px;
    margin-top: 80px;
      position: relative;
      padding: 1rem .5rem;
      text-align: center;
      z-index: 2;
  }
  
  h2:after {
    position: absolute;
    bottom: 0;
    left: 36%;
    width: 30%;
    height: 6px;
    text-align: center;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }*/

.content1{
    height: auto;
    width: 80%;
    font-size: 40px;
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;  
    margin-bottom: 200px;
    z-index: 2;
}
