li{
    display: inline;
    list-style: none;
    padding: 3px;
}

/*現在のページ番号*/
.navi-active{

}

/*ページネーション*/
.pagination-container{
    position: absolute;
    top: 1500px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.content{
    /*height: 50%;*/
    height: 1150px;
    width: 80%;
    font-size: 40px;
    /*flex: 1;*/
    background-color: #eee;
    text-align: center;
    margin: auto auto auto;  
    /*margin-bottom: 130px;*/
    z-index: 2;   
  }